/* Atom2Univers modular stylesheet */
/* Order of imports mirrors the original cascade. */
@import url('./modules/foundation.css');
@import url('./modules/arcade-hub.css');
@import url('./modules/arcade-stage.css');
@import url('./modules/quantum2048.css');
@import url('./modules/sudoku.css');
@import url('./modules/minesweeper.css');
@import url('./modules/solitaire.css');
@import url('./modules/math.css');
@import url('./modules/blackjack.css');
@import url('./modules/holdem.css');
@import url('./modules/balance.css');
@import url('./modules/wave.css');
@import url('./modules/arcade-effects.css');
@import url('./modules/bigbang.css');
@import url('./modules/fusion.css');
@import url('./modules/table-layout.css');
@import url('./modules/gacha.css');
@import url('./modules/table.css');
@import url('./modules/game.css');
@import url('./modules/shop.css');
@import url('./modules/info.css');
@import url('./modules/news.css');
@import url('./modules/options-goals.css');
@import url('./modules/chiptune.css');
@import url('./modules/devkit.css');
@import url('./modules/metaux.css');
@import url('./arcade/echecs.css');
@import url('./arcade/game-of-life.css');
@import url('./arcade/othello.css');
@import url('./arcade/gomoku.css');
@import url('./arcade/p4.css');
@import url('./arcade/hex.css');
@import url('./arcade/bigger.css');
@import url('./arcade/the-line.css');
@import url('./arcade/lights-out.css');
@import url('./arcade/taquin.css');
@import url('./arcade/link.css');
@import url('./arcade/twins.css');
@import url('./arcade/star-bridges.css');
@import url('./arcade/pipetap.css');
@import url('./arcade/color-stack.css');
@import url('./arcade/circles.css');
@import url('./arcade/stars-war.css');
@import url('./arcade/jumping-cat.css');
@import url('./arcade/sokoban.css');
@import url('./arcade/roulette.css');
@import url('./arcade/pachinko.css');
@import url('./arcade/dice.css');
@import url('./arcade/escape.css');
@import url('./arcade/motocross.css');
